<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

</head>
<body>
	<div th:fragment="searchChannel">
	
	

<div class="py-5">
   <div class="row">
     <div class="col-md-6 col-lg-8 col-xl-8 mx-auto">
 
       <!-- form card login -->
       <div class="card rounded-1">
         <div class="card-header">
           <h3 class="mb-0">Search Channel</h3>
         </div>
         <div class="card-body">
           <form class="form" name="searchChannelForm" ng-controller="searchChannelController" ng-submit="searchChannelForm.$valid && searchChannel()" method="post">
              
              <div ng-show="error">
                  <div class="alert alert-danger">
                  </div>
              </div>
              
              <div class="row">
              	  <div class="col-md-3 form-group">
              	  </div>
              	  <div class="col-md-6 form-group">
              	  	<label for="id">Channel Id:</label>
              	  	<span ng-show="searchChannelForm.id.$touched && searchChannelForm.id.$error" style="color:red"> 
	                	{{handleError(searchChannelForm.id.$error, ' Numeric Only', idMinLn, idMaxLn)}}
	            	 </span>
                  	<input type="text" name="id" id="id" class="form-control input-lg"
                          placeholder="Channel Id" required maxlength="20" ng-model="form.id" ng-pattern="numReg" 
                          ng-maxlength="idMaxLn" ng-minlength="idMinLn"/>
                  </div>
              </div>
              
              <div class="row">
              	  <div class="col-md-3 form-group">
              	  </div>
              	  <div class="col-md-6 form-group">
                  	<input type="submit" class="btn btn-lg btn-primary btn-block" value="Search Channel"/>
                  </div>
              </div>
             
           </form>
         </div>
         <!--/card-block-->
       </div>
       <!-- /form card login -->
 
     </div>
 
 
   </div>
 </div>
 
 
 
 
 </div>
</body>
</html>