<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

</head>
<body>
	<div th:fragment="footer">

		<footer> 
			<div class="container-fluid padding bg-light text-center">
				<div class="row">
					<div class="col-md-3 py-4">
						<h5 class="py-2"> Our Services</h5>
						<div class="py-1"><a th:href="@{/services}">Smart Home Automation</a></div>
						<div class="py-1"><a th:href="@{/services}">LED Solutions</a></div>
						<div class="py-1"><a th:href="@{/services}">Consultancy</a></div>
						<div class="py-1"><a th:href="@{/services}">IOT Based Solutions</a></div>
					</div>
					<div class="col-md-3 py-4">
						<h5 class="py-2"> Our Features</h5>
						<div class="py-1"><a th:href="@{/features}">Smart Water Level Controller</a></div>
						<div class="py-1"><a th:href="@{/features}">Smart Light</a></div>
						<div class="py-1"><a th:href="@{/features}">Schedule Based Solenid Valve Control</a></div>
						<div class="py-1"><a th:href="@{/features}">GPS Tracking System</a></div>
						<div class="py-1"><a th:href="@{/features}">RFID AND Bio-Matric</a></div>
						<div class="py-1"><a th:href="@{/features}">Battery Management System</a></div>
					</div>
					<div class="col-md-3 py-4">
						<h5 class="py-2"> Company</h5>
						<div class="py-1"><a th:href="@{/aboutUs}">About Us</a></div>
						<div class="py-1"><a th:href="@{/careers}">Careers</a></div>
						<div class="py-1"><a th:href="@{/contactUs}">Contact Us</a></div>
					</div>
					<div class="col-md-3 py-4">
						<h5 class="py-2"> <i class="fa fa-map-marker-alt"></i> Location</h5>
						<div class="py-1">3rd Floor,Gowri Arcade</div>
						<div class="py-1">Opp to Hemavathi Office</div>
						<div class="py-1">Kunigal Main Road</div>
						<div class="py-1">SadashivaNagar</div>
						<div class="py-1">Tumakuru-572102</div>
					</div>
					<div class="col-12 text-center">
						<hr class="dark">
						<h5> &copy; 2020 Native Solutions. All Rights Reserved.</h5>
					</div>
				</div>
			</div>
		</footer>

	</div>
</body>
</html>