<html xmlns:th="http://www.thymeleaf.org">
<head>
 	
 	<div th:fragment="header-css">
 		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 		
        <!-- this is header-css -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" 
        	integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
        	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/css.css}" href="../../css/css.css" />
              
    </div>
    
    <div th:fragment="header-js">
	 	<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.slim.min.js" 
	 		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" 
			integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
			integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		<script type="text/javascript" th:src="@{/js/app.js}"></script>
		<script type="text/javascript" th:src="@{/js/userApp.js}"></script>
		<script type="text/javascript" th:src="@{/js/adminApp.js}"></script>
	</div>
</head>
<body ng-app="myApp">
<div th:fragment="header">
    <!-- this is header -->
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
            	<img alt="" th:src="@{/images/logo.jpg}" width="200" height="100">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            	<span class="navbar-toggler-icon">
            	</span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive" ng-controller="Authentication">
				<!-- <ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" th:href="@{/}">Home</a>
				     </li>
				     <li class="nav-item">
				        <a class="nav-link" th:href="@{/}">Home</a>
				     </li>
				</ul>  -->
				<ul class="navbar-nav ml-auto">
					<li ng-hide="isLoggedIn" class="nav-item active">
						<a class="nav-link" th:href="@{/}">Login</a>
					</li>
					<li ng-hide="isLoggedIn" class="nav-item">
			        	<a class="nav-link" th:href="@{/registration}">Registration</a>
			        </li>
			        <li ng-show="isLoggedIn" class="nav-item active">	
			        	<a class="nav-link" href="#" ng-click="logout()">Log Out</a>
			        </li>
				</ul>
            </div>
        </div>
    </nav>
</div>

</body>
</html>