body{
	width: 100%;
	overflow-x: hidden;
	padding: 0;
	margin: 0;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
header{	
	background-color: white;
	color: black;
}

hr.light{ 
	border-top: 1px solid #d5d5d5;
}

.navbar {
	padding: 5px;
}

.main-nav li {
	padding-left: 20px;
	font-weight:600;
	font-size:25px;
}

.nav-tabs .nav-item .active {
	background-color: #3f3f3f;
	color: #d5d5d5;
}

.nav-tabs .nav-link {
	background-color: #d5d5d5;
	color: #3f3f3f;
}

a {
	color: #3f3f3f;
}

.dropdown .dropdown-menu{ max-height:250px; overflow:auto; }

