body{
	width: 100%;
	overflow-x: hidden;
	padding: 0;
	margin: 0;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
header{	
	background-color: white;
	color: black;
}

hr.light{ 
	border-top: 1px solid #d5d5d5;
}

.navbar {
	padding: 5px;
}

.main-nav li {
	padding-left: 20px;
	font-weight:600;
	font-size:25px;
}

.nav-tabs .nav-item .active {
	background-color: #3f3f3f;
	color: #d5d5d5;
}

.nav-tabs .nav-link {
	background-color: #d5d5d5;
	color: #3f3f3f;
}

a {
	color: #3f3f3f;
}

.card-body img {
	max-height: 150px;
}

.carousel-item img {
	max-height: 450px;
}

#slider h7 {
	font-size:60px;
}

#about {
	padding-top: 50px;
	padding-bottom: 50px;
	color: #555;
}


#promo
{
	background-image:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.1)),url(img/promo.jpg);
	background-size:cover;
	background-position:center;
	color:#fff;
	background-attachment:fixed;
	text-align:center;
	padding:100px;
	font-family:sans-sarif;
	font-size:38px;
}
.dropdown .dropdown-menu{ max-height:250px; overflow:auto; }

