<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Page</title>
    <div th:replace="fragments/header :: header-css"/>
    
</head>
<body ng-app="myApp">
<div th:replace="fragments/header :: header-js"/>
<div th:replace="fragments/header :: header"></div>

<div class="py-5">
    <div class="row">
      <div class="col-md-10 mx-auto">
  		
        <div class="card rounded-0 text-center">
					<div class="card-header">
						<h1 class="mb-0">
							<i class="far fa-address-card"></i>
							About Us
						</h1>
					</div>
					<div class="card-body">
						<div class="row services">
							<div class="col-md-2 py-3"></div>
							<div class="col-md-8 py-3">
								Native Solutions is dedicated to bring and implement IIOT strategies,collabarate in order to create a future-ready environment. 
								In an age of hyper connectivity, the Internet Of Things(IoT) is the basis for a booming sector in which we povide software and 
								hardware for everything from intelligent home and cars to medical devices and manufacturing. 
							</div>
						</div>
						<div class="row services">
							<div class="col-md-2 py-3"></div>
							<div class="col-md-8 py-3">
								Our Expertise in Internet of Things and Process Re-Engineering bridges the gap between your bussiness and information technology goals. 
								Native Solutions has developed connected smart product suite that can be custumized for different industries which consists of sensors, 
								connectivity solutions and an Integrated Cloud connected platform for managing all these devices. 
							</div>
						</div>
					</div>
					<!--/card-block-->
				</div>
    </div>
  </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>