<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Page</title>
    <div th:replace="fragments/header :: header-css"/>
    
</head>
<body ng-app="myApp">
<div th:replace="fragments/header :: header-js"/>
<div th:replace="fragments/header :: header"></div>

<div class="py-5">
    <div class="row">
      <div class="col-md-8 mx-auto">
  		
        <div class="card rounded-0 text-center">
			<div class="card-header">
				<h1 class="mb-0">
					<i class="fas fa-hiking"></i>
					CAREERS OFFERED
				</h1>
			</div>
			<div class="card-body">
				<div class="row services">
					<div class="col-md-6 py-3 card card-body">
						<img alt="hardware" th:src="@{/images/hardware.jpg}" width="400" height="200"><br/>
						<h3>Embedded Hardware Engineer</h3>
						<p>Take responsibility for the design and overall quality of the hardware, and provide leadership and guidance for junior engineers. Documentation of design specifications and implementation details. Lead design reviews. Uphold hardware design standards and methodologies.</p>
					</div>
					<div class="col-md-6 py-3 card card-body">
						<img alt="firmware" th:src="@{/images/firmware.jpg}"  width="400" height="200"><br/>
						<h3>Embedded Firmware Engineer</h3>
						<p>Firmware is the programmable content in electronic hardware devices, such as remote controls, mobile phones and medical devices that provides instructions to the device on how to operate. Firmware engineers create and implement these instructions, called algorithms, which enable the hardware to function. </p>
					</div>
				</div>
				<br/>
				<div class="row services">
					<div class="col-md-6 py-3 card card-body">
						<img alt="java" th:src="@{/images/java.jpg}"  width="400" height="200"><br/>
						<h3>Java Developer</h3>
						<p>Java Developers are computer programmers who are proficient with coding in Java. Their primary responsibilities include designing and implementing java applications, developing and testing software and resolving technical issues that arise.</p>
					</div>
					<div class="col-md-6 py-3 card card-body">
						<img alt="iot" th:src="@{/images/iot.jpg}"  width="400" height="200"><br/>
						<h3>IOT Design Engineers</h3>
						<p>You will work with a dynamic IoT, Computer Vision and MEAN technology stack, resolving complex real-world issues. In addition to resolving issues, you will work with the software development team to develop core backend services (analytics, content management, data processing, etc.)</p>
					</div>
				</div>
			</div>
			<!--/card-block-->
		</div>
    </div>
  </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>