<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Page</title>
    <div th:replace="fragments/header :: header-css"/>
    
</head>
<body ng-app="myApp">
<div th:replace="fragments/header :: header-js"/>
<div th:replace="fragments/header :: header"></div>

<div class="py-5">
    <div class="row">
      <div class="col-md-10 mx-auto">
  		
  		<div class="card rounded-0 text-center">
			<div class="card-header">
				<h1 class="mb-0">
					Our Features
				</h1>
			</div>
			<div class="card-body">
				<div class="row services">
					<div class="col-md-4 py-3 card card-body">
						<img alt="hardware" th:src="@{/images/waterLevel.jpg}" ><br/>
						<h3><i class="fas fa-tint"></i>SMART WATER LEVEL CONTROLLER</h3>
						<p>Automatic water level controllers are a product that was created to automatically control a motor, which helps to ensure 
						a constant reserve of water in a storage tank. These automatic water level controllers are used to automatically fill the over-head 
						tank when it starts or has become empty as well as monitor the water level in it.</p>
					</div>
					<div class="col-md-4 py-3 card card-body">
						<img alt="firmware" th:src="@{/images/smartLight.jpg}"  ><br/>
						<h3><i class="fas fa-bolt"></i>SMART LIGHT</h3>
						<p>Smart lighting is a lighting technology designed for energy efficiency. This may include high efficiency fixtures and automated 
						controls that make adjustments based on conditions such as occupancy or daylight availability. Lighting is the deliberate application 
						of light to achieve some aesthetic or practical effect. It includes task lighting, accent lighting, and general lighting.</p>
					</div>
					<div class="col-md-4 py-3 card card-body">
						<img alt="firmware" th:src="@{/images/solenid.jpg}"  ><br/>
						<h3><i class="fas fa-adjust"></i>SCHEDULE BASED SOLENID VALVE CONTROL</h3>
						<p>Solenoid valve for irrigation. A water irrigation solenoid valve is an electrically controlled valve to regulate the flow of water. 
						By applying a voltage over the coil, the valve opens and the liquid can flow through. Solenoid valves are also called electromagnetic valve, 
						water valve, electric valve or electro valve..</p>
					</div>
				</div>
				<br/>
				<div class="row services">
					<div class="col-md-4 py-3 card card-body">
						<img alt="java" th:src="@{/images/gps.jpg}"  ><br/>
						<h3><i class="fas fa-map-marker-alt"></i>GPS TRACKING SYSTEM</h3>
						<p>GPS tracking is the surveillance of location through use of the Global Positioning System (GPS ) to track the location of an 
						entity or object remotely. The technology can pinpoint longitude, latitude, ground speed, and course direction of the target.</p>
					</div>
					<div class="col-md-4 py-3 card card-body">
						<img alt="iot" th:src="@{/images/RFID.jpg}"  ><br/>
						<h3><i class="fas fa-address-card"></i>RFID AND BIO-MATRIC BASED ATTENDANCE MONITORING SYSTEM</h3>
						<p>The attendance system is used to monitor the attendance and movement of employees within their working hours and to prepare materials 
						for processing wages.</p>
					</div>
					<div class="col-md-4 py-3 card card-body">
						<img alt="iot" th:src="@{/images/battery.jpg}"  ><br/>
						<h3><i class="fas fa-battery-three-quarters"></i>BATTERY MANAGEMENT SYSTEM</h3>
						<p>A battery management system (BMS) is any electronic system that manages a rechargeable battery (cell or battery pack), such as by 
						protecting the battery from operating outside its safe operating area, monitoring its state, calculating secondary data, reporting that
						data, controlling its environment, authenticating it .</p>
					</div>
				</div>
			</div>
			<!--/card-block-->
		</div>
  		
  		
        
    </div>
  </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>