<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Page</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body ng-app="myApp">
<div th:replace="fragments/header :: header-js"/>
<div th:replace="fragments/header :: header"></div>

<div class="py-5">
    <div class="row">
      <div class="col-md-6 col-lg-8 col-xl-8 mx-auto">
  
        <!-- form card login -->
        <div class="card rounded-1">
          <div class="card-header">
            <h3 class="mb-0">Registration</h3>
          </div>
          <div class="card-body">
            <form class="form" name="registerForm" ng-controller="Registration" ng-submit="registerForm.$valid && register()" method="post">
            	
            	<div th:if="${param.error}">
                   <div class="alert alert-danger">
                       Something went wrong, Kindly check after some time
                   </div>
               </div>
               
               <div class="row form-group">
               		<div class="col-xs-6 col-sm-6 col-md-6">
                       <label>FirstName</label>
                   	   <input type="text" name="firstName" id="firstName" class="form-control input-lg"
                          placeholder="FirstName" autofocus="true" required ng-model="form.firstName"/>
                   </div>
               	   <div class="col-xs-6 col-sm-6 col-md-6">
               		 	<label>LastName</label>
                   		<input type="text" name="lastName" id="lastName" class="form-control input-lg"
                          placeholder="LastName" required ng-model="form.lastName"/>
                  </div>
               </div>
               
               <div class="row form-group">
               		<div class="col-xs-6 col-sm-6 col-md-6">
                        <label>Username</label>
                   		<input type="email" name="username" id="username" class="form-control input-lg"
                          placeholder="UserName" required ng-model="form.username"/>
                   </div>
               	   <div class="col-xs-6 col-sm-6 col-md-6">
               		 	<label>Password</label>
                   		<input type="password" name="password" id="password" class="form-control input-lg"
                          placeholder="Password" required ng-model="form.password"/>
                  </div>
               </div>
                
               <div class="row">
                   <div class="col-xs-6 col-sm-6 col-md-6 py-2">
                       <input type="submit" class="btn btn-lg btn-primary btn-block" value="Register"/>
                   </div>
                   <div class="col-xs-6 col-sm-6 col-md-6 py-2">
                   	<a class="btn btn-lg btn-dark btn-block" th:href="@{/}">Cancel</a>
                   </div>
               </div>
              
            </form>
          </div>
          <!--/card-block-->
        </div>
        <!-- /form card login -->
  
      </div>
  
  
    </div>
  </div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>