<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Page</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body ng-app="myApp">
<div th:replace="fragments/header :: header-js"/>
<div th:replace="fragments/header :: header"></div>

<div class="py-5">
    <div class="row">
      <div class="col-md-6 col-lg-8 col-xl-8 mx-auto">
  
        <!-- form card login -->
        <div class="card rounded-1">
          <div class="card-header">
            <h3 class="mb-0"><i class="fas fa-clipboard-list"></i>     Registration</h3>
          </div>
          <div class="card-body">
            <form class="form" name="registerForm" ng-controller="Registration" ng-submit="registerForm.$valid && register()" method="post">
            	
               <div ng-show="error">
                   <div class="alert alert-danger">
                   </div>
               </div>
               
               <div class="row">
               		<div class="col-xs-6 col-sm-6 col-md-6 form-group">
                       <label for="firstName">FirstName</label>
                       <span ng-show="registerForm.firstName.$touched && registerForm.firstName.$error" style="color:red"> 
			                {{handleError(registerForm.firstName.$error, ' Alphabets Only', txtMinLn, txtMaxLn)}}
			           </span>
			           <div class="input-group">
						  <div class="input-group-prepend">
						    <span class="input-group-text"><i class="fas fa-pencil-alt"></i></span>
						  </div>
	                   	   <input type="text" name="firstName" id="firstName" class="form-control input-lg"
	                          placeholder="FirstName" autofocus="true" required maxlength="20"
	                          ng-model="form.firstName" ng-pattern="nameReg" ng-maxlength="txtMaxLn" ng-minlength="txtMinLn"/>
                        </div>
                   </div>
               	   <div class="col-xs-6 col-sm-6 col-md-6 form-group">
               		 	<label for="lastName">LastName</label>
               		 	<span ng-show="registerForm.lastName.$touched && registerForm.lastName.$error" style="color:red"> 
			                {{handleError(registerForm.lastName.$error, ' Alphabets Only', txtMinLn, txtMaxLn)}}
			            </span>
			            <div class="input-group">
						  <div class="input-group-prepend">
						    <span class="input-group-text"><i class="fas fa-pencil-alt"></i></span>
						  </div>
	                   		<input type="text" name="lastName" id="lastName" class="form-control input-lg"
	                          placeholder="LastName" required maxlength="20" ng-model="form.lastName" ng-pattern="nameReg" 
	                          ng-maxlength="txtMaxLn" ng-minlength="txtMinLn"/>
	                    </div>
                  </div>
               </div>
               
               <div class="row">
               		<div class="col-xs-6 col-sm-6 col-md-6 form-group">
                        <label for="username">Username</label>
                        <span ng-show="registerForm.username.$touched && registerForm.username.$error" style="color:red"> 
			                {{handleError(registerForm.username.$error, ' Invalid Email')}}
			            </span>
			            <div class="input-group">
							  <div class="input-group-prepend">
							    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
							  </div>
	                   		<input type="email" name="username" id="username" class="form-control input-lg"
	                          placeholder="UserName" required ng-model="form.username" ng-pattern="emailReg" />
	                     </div>
                   </div>
               	   <div class="col-xs-6 col-sm-6 col-md-6 form-group">
               		 	<label for="password">Password</label>
               		 	<span ng-show="registerForm.password.$touched && registerForm.password.$error" style="color:red"> 
			                {{handleError(registerForm.password.$error, ' AlphaNumeric plus #$@', pwMinLn, pwMaxLn)}}
			            </span>
			            <div class="input-group">
							  <div class="input-group-prepend">
							    <span class="input-group-text"><i class="fas fa-key"></i></span>
							  </div>
	                   		<input type="password" name="password" id="password" class="form-control input-lg"
	                          placeholder="Password" required maxlength="20" ng-model="form.password" ng-pattern="pwReg" 
	                          ng-maxlength="pwMaxLn" ng-minlength="pwMinLn" />
                        </div>
                          
                        <a class="btn btn-link" data-toggle="collapse" href="#passwordReq" role="button" aria-expanded="false" aria-controls="passwordReq">
				    		Password requirements
				 		</a>
				 		<div class="collapse" id="passwordReq">
						  <div class="card card-body text-white bg-info">
						  	-Minimum 8 characters</br>
							-Atleast 1 lowercase alphabetical character</br>
							-Atleast 1 uppercase alphabetical character</br>
							-Atleast 1 numeric character</br>
							-Atleast 1 special character(.#$)
						  </div>
						</div>	
                  </div>
               </div>
               <div class="row">
                   <div class="col-xs-6 col-sm-6 col-md-6 py-2">
                       <input type="submit" class="btn btn-lg btn-primary btn-block" value="Register"/>
                   </div>
                   <div class="col-xs-6 col-sm-6 col-md-6 py-2">
                   	<a class="btn btn-lg btn-dark btn-block" th:href="@{/}">Cancel</a>
                   </div>
               </div>
              
            </form>
          </div>
          <!--/card-block-->
        </div>
        <!-- /form card login -->
  
      </div>
  
  
    </div>
  </div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>