<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Page</title>
    <div th:replace="fragments/header :: header-css"/>
    
</head>
<body ng-app="myApp">
<div th:replace="fragments/header :: header-js"/>
<div th:replace="fragments/header :: header"></div>

<div class="py-5">
    <div class="row">
      <div class="col-md-10 mx-auto">
      
      		<div class="card rounded-0 text-center">
			<div class="card-header">
				<h1 class="mb-0">
					Our Services
				</h1>
			</div>
			<div class="card-body">
				<div class="row services">
					<div class="col-md-6 py-3 card card-body">
						<img alt="hardware" th:src="@{/images/firmware.jpg}"><br/>
						<h3><i class="fas fa-home"></i>Smart Home Automation</h3>
						<p>Home automation or domotics is building automation for a home, called a smart home or smart house. 
							A home automation system will control lighting, climate, entertainment systems, and appliances. 
							It may also include home security such as access control and alarm systems.</p>
					</div>
					<div class="col-md-6 py-3 card card-body">
						<img alt="firmware" th:src="@{/images/hardware.jpg}" ><br/>
						<h3><i class="fas fa-bolt"></i>LED Solutions</h3>
						<p>IoT networks LED lighting. ... When it is connected to the network, such as through a wireless or 
							power-over-Ethernet (PoE) connection, users also gain unprecedented control, through automated and 
							remote access, to dynamically adjust the brightness, on-off patterns, and/or colour of each IP-addressable lamp.</p>
					</div>
				</div>
				<br/>
				<div class="row services">
					<div class="col-md-6 py-3 card card-body">
						<img alt="java" th:src="@{/images/java.jpg}" ><br/>
						<h3><i class="fas fa-bell"></i>Consultancy</h3>
						<p>Consultants offer advice and expertise to organisations to help them improve their business performance in terms of operations, 
						profitability, management, structure and strategy. ... The work stretches across a variety of areas, including management, strategy, 
						IT, finance, marketing, HR and supply chain management.</p>
					</div>
					<div class="col-md-6 py-3 card card-body">
						<img alt="iot" th:src="@{/images/iot.jpg}" ><br/>
						<h3><i class="fas fa-cloud"></i>IOT Based Solutions</h3>
						<p>So, IoT based solutions is all about collecting and securing the data with best available cloud technology. ... 
						Security – Where there is data involved, security plays a key role and so does in IoT. Correspondingly, data has to 
						remain secure during transit. Also, while being stored or when used by the applications.</p>
					</div>
				</div>
			</div>
			<!--/card-block-->
		</div>
        
    </div>
  </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>