<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Update Channel</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body ng-app="myApp">
<div th:replace="fragments/header :: header-js"/>
<div th:replace="fragments/header :: header"></div>

<base href="/">

<div class="py-5" ng-controller="viewChannelFeeds">
   <div class="row">
     <div class="col-md-10 col-lg-10 col-xl-10 mx-auto">
 
       <!-- form card login -->
       <div class="card rounded-1">
         <div class="card-header">
         	<div class="row">
         		<div class="col-md-6">
	           		<h3>
	           			<i class="fas fa-chart-line"></i> &nbsp;
	           			{{feeds.channel.name | uppercase}} ({{feeds.channel.id}})
	           		</h3>
	            </div>
	            <div class="col-md-3">
	            	<span for="pageSize py-2">View Last:</span>
	      			<select class="py-1" id="pageSize" name="pageSize" ng-model="pageSize">
					  <option ng-repeat="x in pageSizeOptions" value="{{x}}">{{x}}</option>
					</select>
	      		</div>
	            <div class="col-md-3">
	      			<button type="button" class="btn btn-lg btn-info btn-block py-1" ng-click="updateChannelFeeds()">Update Graphs</button>
	      		</div>
         	</div>
         </div>
         <div class="card-body">
         	<div class="row">
         		<div class="col-md-12">
         			<canvas id="bar" class="chart chart-bar" chart-options = "options1" chart-colors="colors"
					  chart-data="data" chart-labels="labels" chart-series="series">
					</canvas>
         		</div>
         	</div>
         </div>
         <!--/card-block-->
       </div>
       <!-- /form card login -->
 
     </div>
 
 
   </div>
 </div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>